<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation (stub - not needed for this one page sample)
            </div>
        </header>

        <main>
            <section>
                <input id="source_url" type="text" name="input_source_url" value="" placeholder="Source URL">
                <input type="submit" name="" value="submit" onclick="return Client.handleURLsubmit(event)">
            <section>

            <section>
                <strong>Natural Language Processing Key Results</strong>
                <div id="nlp_key_results">
                    <div id="agreement">Make a request and see!</div>
                    <div id="confidence"></div>
                    <div id="irony"></div>
                </div>
            </section>

            <!-- <section>
                <strong>Full Results:</strong>
                <div id="full_results">
                    <textarea id="full_results_area" name="" rows="10" cols="50"></textarea>
                </div>
            </section> -->
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
